@{
    ViewData["Title"] = "Promoções";
}

<link rel="stylesheet" href="~/css/promocoes.css" />



            <div class="div-body-area">


                <section class="itens-oferta">

               
                   <div id="carousel-area">

                       <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="0">
                          <div class="carousel-inner">
                            <div class="carousel-item active" id="valor-ativo" data-slide-to="0">
                              <img src="../imagens/jordania.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" id="valor-ativo"  data-slide-to="1">
                              <img src="../imagens/maldives-gdf8ee8399_640.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" id="valor-ativo"  data-slide-to="2">
                              <img src="../imagens/mount-rushmore.jpg" class="d-block w-100" alt="...">
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" id="prev-span" data-slide="prev">
                            <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls" role="button" id="next-span" data-slide="next">
                            <span class="carousel-control-next-icon"  aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>

                   </div>
                   <div id="information-area">
                       <h3>Petra - Jordânia</h3>
                        <span>de <del>R$ 1899,99</del></span>
                        <span id="valor-novo">por R$ 1299,99</span>
                        <div class="button-area">
                            <button>Ver Detalhes</button>
                            <button class="btn-add-style">Adicionar ao Carrinho</button>
                        </div>
                   </div>

                </section>

                <section class="img-oferta">
                    <h1 class="title">Promoções</h1>
                    <img src="../imagens/undraw_airport_re_oqk1.svg" alt="" id="img-oferta">
                </section>
            </div>

               <footer>
                <section id="top">
                    <p>Telefone - (11) 2351-9990</p>
                    <p>Email - dreamtrip@gmail.com</p>
                    <p>Endereço - Av Paulista, n°1000 São Paulo SP</p> 
                </section>
                <section id="bottom">
                    <article class="info-footer">
                        <h6>Minha Conta</h6>
                        <p>Meu perfil</p>
                        <p>minhas passagens</p>
                    </article>
                    <article class="info-footer">
                        <h6>Sobre Nós</h6>
                        <p>Missão</p>
                        <p>Visão</p>
                        <p>Valores</p>
                    </article>
                    <article class="info-footer">
                        <h6>Segurança</h6>
                        <p>Termos e condições</p>
                        <p>Politica de privacidade</p>
                    </article>
                    <div class="social-media">
                        <a href="#"><img src="../imagens/facebook.png" alt=""></a>
                        <a href="#"> <img src="../imagens/instagram.png" alt=""></a>
                        <a href="#"> <img src="../imagens/whatsapp.png" alt=""></a>
                    </div>
                </section>
            </footer>
<script src="~/js/promocoes.js"></script>
     



         